@{
    int sumatoria = 0;
}

<form action='@Url.Action("CrearPregunta")'>
    <div class="d-flex">
        @foreach(Categorias c in ViewBag.Categorias){
            sumatoria++;

            <div class="opcion d-flex justify-content-center" style="width: 34vw;">
                <input type="radio" id="@sumatoria" name="idCategoria" value="@c.IdCategoria" />
                <label for="@sumatoria">@c.Nombre</label>
            </div>
        }
    </div>

    <div class="container d-flex">
        <h4>Su pregunta</h4>
        <div class="d-flex justify-content-end">
            <input type="text" name="Enunciado"/>
        </div>
    </div>

    <div class="container d-flex">
        <h4>Respuesta correcta</h4>
        <div class="d-flex justify-content-end">
            <input type="text" name="RespuestaCorrecta"/>
        </div>
    </div>
</form>