@{
    int sumatoria = 0;
}

<main class= "juego" style="background-color: @Juego.categoriaElegida">
    <header>
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="nombreUsuario bg-white">@ViewBag.nombreUsuario</h3>
            </div>
            <div class="d-flex align-items-center text-white">
                <h2>@Juego.categoriaNombre</h2>
            </div>
            <div>
                <h3 class="puntaje bg-white">Puntos: @ViewBag.Puntaje</h3>
            </div>
        </div>
    </header>

    <h3 class="pregunta bg-white">@ViewBag.PreguntaActual.Enunciado</h3>
    <div class ="Opciones">
        <form action='@Url.Action("VerificarRespuesta")'>
            <input type="hidden" name="idPregunta" value="@ViewBag.PreguntaActual.IdPregunta">
            @for(int i = 0; i < ViewBag.OrdenPreguntas.Length; i++){
                <button class="respuesta-btn" name="idRespuesta" value="@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].IdRespuesta">@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].Contenido</button>
            }
        </form>
    </div>
</main>