<main class= "juego">
    <header>
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="nombreUsuario bg-white">@ViewBag.nombreUsuario</h3>
            </div>
            <div>
                <h3 class="puntaje bg-white">Puntos: @ViewBag.Puntaje</h3>
            </div>
        </div>
    </header>

    <h3 class="pregunta">@ViewBag.PreguntaActual.Enunciado</h3>
    <div class ="Opciones">
        <form action='Url.ACtion("VerificarRespuesta", "Home", new{idPregunta = ViewBag.PreguntaActual.IdPregunta})' method="post">
            @foreach(Respuestas r in ViewBag.RespuestaPregunta){
                <button class="respuesta-btn" name="idRespuesta" value="@r.IdRespuesta"> @r.Contenido</button>
            }
        </form>
    </div>
</main>