@{
    string ColorBackground, ColorCorrecto = null;

    if(ViewBag.Correcto){
        ColorBackground = "#008000";
    }
    else{
        ColorCorrecto = "#008000";
        ColorBackground = "#FF0000";
    }
}
<head>
    <script>
        setTimeout(function(){
            window.location.href = '@Url.Action("Jugar", "Home")';
        }, 1000)
    </script>
</head>
<main class= "juego" style="background-color: @Juego.categoriaElegida">
    <header>
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="nombreUsuario bg-white">@ViewBag.nombreUsuario</h3>
            </div>
            <div class="d-flex align-items-center text-white">
                <h2>@Juego.categoriaNombre</h2>
            </div>
            <div>
                <h3 class="puntaje bg-white">Puntos: @ViewBag.Puntaje</h3>
            </div>
        </div>
    </header>

    <h3 class="pregunta bg-white">@ViewBag.PreguntaActual.Enunciado</h3>
    <div class ="Opciones">
        @for(int i = 0; i < ViewBag.OrdenPreguntas.Length; i++){
            if(ViewBag.IdRespuesta == ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].IdRespuesta){
                <button class="respuesta-btn-correctoTrue" name="idRespuesta" value="@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].IdRespuesta">@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].Contenido</button>
                <style>
                    .respuesta-btn-correctoTrue {background-color:@ColorBackground}
                </style>
            }
            else{
                if(ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].Correcta){
                    <button class="respuesta-btn-correctoFalse" name="idRespuesta" value="@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].IdRespuesta">@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].Contenido</button>
                    <style>
                        .respuesta-btn-correctoFalse {background-color:@ColorCorrecto}
                    </style>
                }
                else{
                    <button class="respuesta-btn-correcto" name="idRespuesta" value="@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].IdRespuesta">@ViewBag.RespuestaPregunta[ViewBag.OrdenPreguntas[i]].Contenido</button>
                }
            }
        }
    </div>
</main>

<script src="~/js/Juego.js"></script>

